<div class="row new-image-page">
  <h1>New Image</h1>
  <p>All images are saved down to 800px by 800px if they are bigger than that size. This is to save space. If youneed to upload a large image for printing (like a family picture you want others to print at a high quality), please contact Beth.</p>

  <%= render 'form' %>

  <%= link_to 'Back', images_path %>
</div>
